@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Inter-Medium.ttf');
    font-weight: 400;
    font-style: normal;
    }
.container{
    position: relative;
    max-width: 1470px;
    padding-top:65px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;

    .title{
        color: #2a75ff;
        font-family: "Inter", sans-serif;
        font-size: 48px;
    }
    
    .section1{
        margin-top: 20px;
        max-width: 1140px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;

        @media (max-width: 992px) {
            width: 100%;
            flex-direction: column;   
            justify-content: center;
            align-items: center;
        }

        .photo{         
            position: relative;
            min-height: 1px;
            display: flex;
            margin-left: 30px;
            transition-duration: 0.5s;
            &:hover{
                transform: translateY(10px);
            }
            @media (max-width: 992px) {
                width: 90%;
                height: 90%;
                margin: 10px;
            }
        }

        .photo2{         
            position: relative;
            min-height: 1px;
            display: flex;
            margin-right: 30px;
            transition-duration: 0.5s;
            &:hover{
                transform: translateY(10px);
            }
            @media (max-width: 992px) {
                width: 90%;
                height: 90%;
                margin:10px;
            }
        }

        .text{
            text-align: start;
            padding: 20px;
            background: white;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            line-height: 1.6em;;
            color: rgba(0,0,0,0.65);
            width: 50%;
            position: relative;
            min-height: 1px;
            display: flex;
            z-index: 2;
            left: -30px;
            top: 40px;
            @media (max-width: 992px) {
                width: 90%;
                height: 100%;
                left: 0;
            }
            @media (max-width: 576px) {
                text-align: justify;
             }
        }
        .text2{
            text-align: start;
            padding: 20px;
            background: white;
            font-family: "Inter", sans-serif;
            font-size: 16px;
            line-height: 1.6em;;
            color: rgba(0,0,0,0.65);
            width: 50%;
            position: relative;
            min-height: 1px;
            display: flex;
            z-index: 2;
            right: -30px;
            top: 40px;
            @media (max-width: 992px) {
                width: 90%;
                height: 100%;
                right: 0;
            }
            @media (max-width: 576px) {
                text-align: justify;
             }
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    gap:80px;
    @media (max-width: 992px) {
        gap:10px;
    }
}
